<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Resources/Fonts</string>
	<key>CFBundleIconFile</key>
	<string>Sessions</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Sessions.icns</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.sessionsapp.osx</string>
	<key>CFBundleName</key>
	<string>Sessions</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDisplayName</key>
	<string>Sessions</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.0.0</string>
	<key>CFBundleVersion</key>
	<string>600</string>
	<key>QuartzGLEnable</key>
	<true/>
</dict>
</plist>
