<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Resources/Fonts</string>
	<key>CFBundleIconFile</key>
	<string>MPfm.icns</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>MPfm.icns</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.mp4m.mac</string>
	<key>CFBundleName</key>
	<string>MPfm</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.0.1</string>
	<key>CFBundleVersion</key>
	<string>502</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
