@{
    ViewBag.Title = "Developers - MPfm: Music Player for Musicians";
    ViewBag.Description = "MPfm Developers page detailing information on how to use the MPfm source code in other projects.";
    ViewBag.Keywords = "MPfm, Music Player, Music Player for Musicians, Developers, Source Code";
}

<h2>Developers</h2>
<h3>MPfm Source Code</h3>
<p>
    The GPLv3 license allows you to copy and distribute the original MPfm source code without permission. It also allows you to modify
    the MPfm source code for your own private use, and you are not required to release the modified source code to the public. However, if
    you wish to modify the MPfm source code and release it to the public, you are <b>required</b> to release the modified source code 
    to the community.
</p>
<p>
    For more information about the GPLv3 license, click <a href="http://www.gnu.org/licenses/gpl.html" title="GPLv3 License">here</a>.
</p>
<h3>Commercial Use</h3>
<p>
    You are allowed to use the MPfm source code in a commercial project. However, as the MPfm license states clearly, you are required to acquire the following
    licenses:
<ul class="code">       
    <li><b>BASS</b><br />
        This is the base audio library MPfm uses for audio file playback (including decoding and streaming). Click 
        <a href="http://www.un4seen.com/bass.html#license" title="BASS License">here</a> for more information on how to acquire a commercial BASS license.
    </li>
    <li><b>BASS.NET</b><br />
        This is the BASS .NET wrapper MPfm uses to interact with the BASS audio library. Click 
        <a href="http://bass.radio42.com/index.html" title="BASS.NET License">here</a> for more information on how to acquire a commercial BASS license.
    </li>
</ul>
</p>
<p>
    You also need to pay any royalties related to proprietary audio file formats, such as MP3.
    For more information, check the <a href="/license" title="MPfm License">MPfm license</a>.
</p>
<h3>MPfm Components</h3>
<p>
    You are also allowed to use the MPfm components in your project if you wish. This means you don't have to release the source code of 
    your application; you must only release the modified MPfm components source code. The MPfm components include the player, library, custom controls, and more.
    MPfm components require the <b>.NET Framework 4.0</b>.
</p>
<p>    
    To add a MPfm component to your project, download the source code package, and add a reference to the following assemblies in your project 
    (depending on what you want to use):
</p> 
<ul class="code">       
    <li><b>MPfm.Core</b><br />
        The MPfm.Core assembly contains miscellaneous static class methods for all kinds of projects.
    </li>
    <li><b>MPfm.Sound</b><br />
        The MPfm.Sound assembly contains the Bass.NET wrapper classes, the AudioFile wrapper class for reading and writing metadata in most audio file formats, the AudioTools class for calculating audio data, the PeakFile class for reading and writing peak files, and more.
    </li>    
    <li><b>MPfm.Player</b><br />
        The MPfm.Player assembly contains the Player class and its dependencies (such as Loop, Marker, EQPreset, etc.) which is the playback engine used for MPfm.
    </li>
    <li><b>MPfm.Library</b><br />
        The MPfm.Library assembly contains classes to read and write audio file and playlist file metadata to a SQLite database. It also contains a Gateway pattern class for simplifying CRUD operations on a SQLite database.
    </li>
    <li><b>MPfm.WindowsControls</b><br />
        The MPfm.WindowsControls assembly contains custom generic Windows Forms controls (such as Label, LinkLabel, Panel, etc.), custom controls for displaying library contents (such as SongGridView), custom controls for sound visualization (such as OutputMeter, WaveFormDisplay, etc.), and more.
    </li>
</ul>
<p>
    Alternatively, you can also add the MPfm components to your project by adding a reference to the <b>MPfm NuGet packages</b>, which will be available soon.
</p>
<p>
    You can find a <b>demo application</b> of the Player component in the <b>MPfm.Player.Demo</b> folder of the Source Code package. The demo application
    has the same features as MPfm, without the eye candy! This makes it easier to learn the Player component and use it in your own project. 
</p>
<h3>Developer Documentation</h3>
<p>
    The developer documentation is part of the Source Code package, available on the 
    <a href="http://sourceforge.net/projects/mp4m" title="MPfm SourceForge Home Page">MPfm SourceForge Home Page</a>. 
</p>
<p>
    You can also consult the online documentation <a href="/docs" title="MPfm Online Developer Documentation" >here</a>.
</p>
<h3>BASS.NET Key</h3>
<p>
    In order to use the BASS.NET audio library in your own project, you will require to register a key from the 
    <a href="http://bass.radio42.com/index.html" title="BASS.NET Web Site">BASS.NET web site</a>. 
    You are forbidden to release any source code with a BASS.NET key. This is why the MPfm source code package does not ship with a valid
    BASS.NET key, but the binary package does.
</p>
<h3>Releasing an Application Using MPfm Components</h3>
<p>
    You <b>must</b> repackage the MPfm license including all its dependencies with your application, and add the copyright notices as stated in the
    <a href="/license" title="MPfm License">MPfm license</a>. You <b>must</b> release any modified MPfm source code with your application.
</p>
<h3>MPfm Blog</h3>
<p>
    If you want to know more about the development of MPfm, or keep in touch with the developers, you can read the <a href="/blog" title="MPfm Blog">MPfm Blog</a>.
</p>