@{
    ViewBag.Title = "Download - MPfm: Music Player for Musicians";
    ViewBag.Description = "MPfm Download page (Installer, Package, Source Code)";
    ViewBag.Keywords = "MPfm, Music Player, Music Player for Musicians, Download, Source Code, Installer, Package";
}

<h2>Download</h2>
<h3>Requirements</h3>
<p>
    MPfm supports the following operating systems:
</p>
<ul class="code">       
    <li>Microsoft Windows XP</li>
    <li>Microsoft Windows Vista</li>
    <li>Microsoft Windows 7</li>
    <li>Microsoft Windows 8 (Developer Preview)</li>
</ul>
<p>
    MPfm <b><u>requires</u></b> the following software pre-installed to run successfully:
</p>
<ul class="code">       
    <li><b>Microsoft .NET Framework 4.0</b><br />
    Click <a href="http://www.microsoft.com/download/en/details.aspx?id=17851" title="Download Microsoft .NET Framework 4.0">here</a> to download.
    </li>
    <li><b>Microsoft Visual C++ 2010 SP1 (Runtime Components)</b><br />
    Click <a href="http://www.microsoft.com/download/en/details.aspx?id=8328" title="Download Microsoft Visual C++ 2010 SP1 runtime components (x86)">here</a> to download.
    </li>
</ul>
<h3>Download MPfm</h3>
<p>
    To download the latest version directly from <b>Sourceforge.net</b>, click <a href="http://sourceforge.net/projects/mp4m/files/latest/download" title="Download latest version MPfm">here</a>.
</p>
<p>
    <b>Softpedia</b> also offers a <a href="http://www.softpedia.com/get/Multimedia/Audio/Audio-Players/MPfm.shtml" title="Softpedia MPfm Download Page">download page</a> for MPfm, but the version might be slightly older.
</p>
<p>
    You can also download any archived version from the
    <a href="http://sourceforge.net/projects/mp4m/" title="MPfm Sourceforge.net Home Page">Sourceforge.net MPfm project page</a>.
</p>
<h3>Download MPfm Source Code</h3>
<p>
    The MPfm source code can be downloaded from the 
    <a href="http://sourceforge.net/projects/mp4m/files/Releases/" title="MPfm Sourceforge.net Files">Files</a>
    section of the MPfm project page on <b>Sourceforge.net</b>.
</p>
<p>
    For more information about using the MPfm source code in your own project, go to the 
    <a href="/developers" title="MPfm Developers Page">Developers</a> page.
</p>