@{
    ViewBag.Title = "Features - MPfm: Music Player for Musicians";
    ViewBag.Description = "MPfm Features page detailing supported operating systems, sound cards, drivers, and more.";
    ViewBag.Keywords = "MPfm, Music Player, Music Player for Musicians, Features, Supported Operating System, Sound Card, Driver, Sound Format";
}

<h2>Features</h2>
<h3>At A Glance</h3>
<p>
    MPfm has a lot of common features with other music players, such as <b>gapless playback</b>, support for most popular sound formats, 
    tagging, etc.
    However, it also has a lot of unique features that most musicians will enjoy. Here are some of the most powerful features of MPfm:
</p>
<ul class="code">
    <li><b>Filter Library by Sound Format</b><br />
    Most audio players support a wide variety of sound formats (FLAC, MP3, OGG, etc.). However, none let you filter your library
    by sound format as easily as MPfm; just use the "Filter by Sound Format" combo box.
    </li>
    <li><b>Time Shifting</b><br />
    Picking up complex rythmic sections by ear is much easier when you use time shifting. You can slow down or speed up 
    audio streams from 50% up to 150%.
    </li>
    <li><b>Loops</b><br />
    You are practicing a hard solo on your guitar and you can't make it to the end of the bridge? With MPfm, you can create
    loops to practice specific parts of your songs. That way, you can stay on your instrument instead of reaching for the mouse
    every minute!
    </li>
    <li><b>Markers</b><br />
    You can create markers that can used for looping sections in a song for practice.
    </li>
</ul>
<h3>MPfm is open source and released under the GPLv3 license</h3>
<p>
    <img src="/Images/gplv3-127x51.png" class="floatRight" width="127" height="51" alt="GPLv3 Logo" />
    If you are a <b>user</b>, this means that this application will <b>always stay free</b> and <b>community driven</b>. If the 
    application becomes outdated or deprecated, developers will be able to take the source code, update the application and add new features. 
    However, since MPfm is released under the <b>GPLv3 license</b>,
    the developers will have to release the source code and make the application free to download.
</p>
<p>
    If you are a <b>developer</b>, this means that you can download the source code and make your own modifications.
    You are allowed to release your modifications to the community, but only if you also release the source code.
    Under the <b>GPLv3 license</b>, you cannot release a commercial product based on the MPfm source code.    
</p>
<p>
    For more information about the GPLv3 license, click <a href="http://www.gnu.org/licenses/gpl.html" title="GPLv3 License">here</a>.
</p>
<h3>Supported Operating Systems</h3>
<p>
    MPfm officially supports the following operating systems:
</p>
<ul class="code">        
    <li>Microsoft Windows XP</li>
    <li>Microsoft Windows Vista</li>
    <li>Microsoft Windows 7</li>
    <li>Microsoft Windows 8 (Developer Preview)</li>
</ul>
<p>
    MPfm also supports Microsoft Windows Server 2003 and Microsoft Windows Server 2008 but is untested on these platforms.
</p>
<h3>Supported Sound Cards / Audio Drivers</h3>
<p>
    MPfm supports the following audio drivers:
</p>
<ul class="code">
    <li>DirectSound</li>
    <li>Windows Audio Session API (experimental)</li>
    <li>ASIO 2.0+ (experimental)</li>
</ul>
<p>    
    MPfm supports basically every sound card that works under Microsoft Windows through the DirectSound driver. DirectSound also works inside a virtual machine.
</p>
<p>
    The Windows Audio Session API driver is only available on the Microsoft Windows Vista and
    Microsoft Windows 7 operating systems, and require WASAPI drivers.
</p>
<p>
    The ASIO driver is recommended only if you have low latency sound card with native ASIO drivers.
    VST plugins are only supported when using a ASIO driver.
</p>
<h3>Supported Sound Formats</h3>
<p>
    MPfm supports the following sound formats:
</p>
<ul class="code">        
    <li>MP3</li>
    <li>FLAC</li>
    <li>OGG</li>
    <li>WAV</li>
    <li>and more</li>
</ul>
