@{
    ViewBag.Title = "MPfm: Music Player for Musicians";    
    ViewBag.Description = "Home page of the MPfm application.";
    ViewBag.Keywords = "MPfm, Music Player, Music Player for Musicians, Audio Player, Open Source, Freeware, GPLv3, FLAC, MP3, OGG, Time Shifting, Musicians, BASS, BASS.NET, SQLite, System.Data.SQLite, FamFamFam, Mantis, Yanick Castonguay";
}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#slider').s3Slider({
                timeOut: 6000
            });
        });
    </script> 
    <h2><b>Discover</b> a new way to listen to your music library.</h2>
    <p class="p_medium">    
        <b>MPfm</b> may look like just another music player on the surface.
        However, if you are a musician, this player offers interesting features 
        such as time shifting, loops and markers to 
        help you pick songs by ear. For more information about the MPfm features, 
        consult this <a href="/features" title="MPfm Features Page">page</a>.    
    </p>
    <div id="slider"> 
    <ul id="sliderContent"> 
        <li class="sliderImage"> 
            <img src="/images/slider_main.png" alt="MPfm Main window" /> 
            <span class="top"><strong>MPfm</strong><br />MPfm is a music player designed for musicians.</span> 
        </li> 
        <li class="sliderImage"> 
            <img src="/images/slider_loopsmarkers.png" alt="MPfm Loops & Markers section" /> 
            <span class="top"><strong>Loops & Markers section</strong><br />Use loops and markers to practice sections of your favorite songs!</span> 
        </li>
        <li class="sliderImage"> 
            <img src="/images/slider_effects.png" alt="MPfm Effects window" /> 
            <span class="top"><strong>Effects window</strong><br />MPfm features a professional 18-band equalizer based on the BASS audio library.</span> 
        </li>
        <li class="sliderImage"> 
            <img src="/images/slider_playlist.png" alt="MPfm Playlist window" />
            <span class="top"><strong>Playlist window</strong><br />MPfm lets you manage your playlists easily.</span> 
        </li>
        <li class="sliderImage"> 
            <img src="/images/slider_metadata.png" alt="MPfm Edit Metadata window" />
            <span class="top"><strong>Edit Metadata window</strong><br />View and edit the tags and properties of your library files.</span> 
        </li>
        <li class="clear sliderImage"></li>
    </ul>
    </div>    
    <p class="p_medium">
        <img src="/Images/gplv3-88x31.png" class="floatRight" width="88" height="31" alt="GPLv3 Logo" />
        MPfm is <b>freeware</b> and <b>open source</b>; the application is released under 
        the <a href="http://www.gnu.org/licenses/gpl.html" title="GPLv3 License">GPLv3 license</a>. 
        This means that the community can make modifications to MPfm, but they will always be <b>free</b>.
        For more information about the MPfm license, consult this <a href="/license" title="MPfm License Page">page</a>.
    </p>
    <p class="p_medium">
        <img src="/Images/mantis_logo_button.gif" class="floatRight" width="88" height="35" alt="MantisBT Logo" />
        MPfm is also currently in <b>beta</b>. Check the <a href="http://www.mp4m.org/mantis/roadmap_page.php" title="MPfm Roadmap">roadmap</a> 
        on the Mantis bug tracker to see what are the next features to be implemented.
    </p>
    <p class="p_medium">
        To download the latest version of MPfm, go to the <a href="/download" title="Download MPfm Page">Download</a> page.
    </p>    

