@{
    ViewBag.Title = "Error - MPfm: Music Player for Musicians";
    ViewBag.Description = "MPfm Internal Server Error Page (HTTP 500)";
    ViewBag.Keywords = "MPfm, Music Player, Music Player for Musicians, Internal Server Error";
}

<h2>Error 500: Internal Server Error</h2>
<p>
    An internal server error has occured. Click <a href="http://www.mp4m.org" title="MPfm Homepage">here</a> to return to the home page.
</p>
