@{
    ViewBag.Title = "License - MPfm: Music Player for Musicians";
    ViewBag.Description = "MPfm License Page detailing the copyright notices and licenses of the third party libraries used in MPfm.";
    ViewBag.Keywords = "MPfm, Music Player, Music Player for Musicians, License, Open Source, Freeware, GPLv3, FMOD, Open Source Fonts, Taglib, SQLite, FamFamFam";
}

<h2>License</h2>
<p>
    This license can also be found in <a href="http://www.mp4m.org/license.txt">text format</a>. The license has the following sections:
</p>
<ul class="code">
    <li><a href="#1.0">1.0 MPfm</a></li>
    <li><a href="#2.0">2.0 Third-party Libraries</a></li>
    <ul class="code">       
        <li><a href="#2.1">2.1 FMOD Sound System</a></li>
        <li><a href="#2.2">2.2 SQLite</a></li>
        <li><a href="#2.3">2.3 System.Data.SQLite</a></li>
        <li><a href="#2.4">2.4 TagLib#</a></li>
        <li><a href="#2.5">2.5 FamFamFam Silk Icons</a></li>
        <li><a href="#2.6">2.6 Open Source Fonts</a></li>
    </ul>
    <li><a href="#3.0">3.0 Other License Information</a></li>
    <ul class="code">       
        <li><a href="#3.1">3.1 MP3</a></li>
        <li><a href="#3.2">3.2 Background Images</a></li>
        <li><a href="#3.3">3.3 MP3mp4m.org / musicplayerformusicians.com</a></li>
    </ul>
</ul>
<hr />
<h3><a name="1.0">1.0 MPfm</a></h3>
<p>
    MPfm is freeware and can be freely distributed, as long as you distribute all the licences included
    in the original package. You must also reprint all the copyright and trademarks listed in
    the MPfm license.
</p>
<p>
    MPfm is using the GNU General Public License 3.0 (GPLv3), which means the source code is public and 
    modifications can be made by the community. However, you must release the source code of these modifications 
    to the community. You cannot release a commercial product based on the MPfm source code. For more information, 
    consult this <a href="http://www.gnu.org/licenses/gpl.html">page</a>.
</p>
<p>
    MPfm and the mp4m.org website are © 2011 Yanick Castonguay, except for FMOD (see copyright notices below).
</p>
<hr />
<h3><a name="2.0">2.0 Third-party Libraries</a></h3>
<p>
    MPfm is using the following third-party libraries:
</p>
<h4><a name="2.1">2.1 FMOD Sound System</a></h4>
<p>
    FMOD Sound System is a multiplatform audio library for Windows. 
    The FMOD library is © Firelight Technologies Pty, Ltd., 1994-2011. 
    MPfm is not intended for commercial gain and therefore is using the FMOD Non-Commercial License. For more information
    about this license, click <a href="http://www.fmod.org/index.php/sales" title="FMOD License">here</a>.   
</p>
<h4><a name="2.2">2.2 SQLite</a></h4>
<p>
    SQLite is freeware and is released under the 
    <a href="http://en.wikipedia.org/wiki/Public_Domain" title="Public Domain License Wikipedia">Public Domain license</a>. 
    For more information about the SQLite license, click <a href="http://www.sqlite.org/copyright.html" title="SQLite License">here</a>.
</p>
<h4><a name="2.3">2.3 System.Data.SQLite</a></h4>
<p>
    System.Data.SQLite is freeware and is released under the 
    <a href="http://en.wikipedia.org/wiki/Public_Domain" title="Public Domain License Wikipedia">Public Domain license</a>. 
    For more information about this library, click <a href="http://sqlite.phxsoftware.com/" title="System.Data.SQLite License">here</a>.
</p>
<h4><a name="2.4">2.4 TagLib#</a></h4>
<p>
    TagLib# (taglib-sharp) is released under the GNU Lesser General Public License 2.1 (LGPL). 
    The LGPL license can be found <a href="http://www.gnu.org/licenses/lgpl-2.1.html" title="GNU Lesser General Public License 2.1 (LGPL)">here</a>. 
    A copy of this license is distributed with MPfm and can be found in the application directory (LGPL2.1.TXT). 
    For more information about TagLib#, click <a href="http://weblog.savanne.be/tags/taglib-sharp" title="TagLib# Homepage">here</a>.
</p>
<h4><a name="2.5">2.5 FamFamFam Silk Icons</a></h4>
<p>
    The FamFamFam Silk icons are released under the 
    <a href="http://creativecommons.org/licenses/by/2.5/" title="Creative Commons 2.5 License">Creative Commons Attribution 2.5 License</a>. 
    These icons have been created by Mark James. More information about the FamFamFam icon license can be found 
    <a href="http://www.famfamfam.com/lab/icons/silk/" title="FamFamFam Homepage">here</a>.
</p>
<h4><a name="2.6">2.6 Open Source Fonts</a></h4>
<p>
    MPfm is embedding the following open source fonts in MPfm.Fonts.dll:
</p>
<ul class="code">
    <li>Junction (from The League of Moveable Type)</li>
    <li>League Gothic (from The League of Moveable Type)</li>
    <li>TitilliumText (from Font Squirrel)</li>
</ul>
<p>
    Junction is designed by 
    <a href="http://www.theleagueofmoveabletype.com/members/2-caroline-hadilaksono" title="Caroline Hadilaksono Homepage">Caroline Hadilaksono</a>. 
    More information about this font can be found <a href="http://www.theleagueofmoveabletype.com/fonts/1-junction" title="Junction Font Homepage">here</a>.
</p>
<p>
    League Gothic is designed by 
    <a href="http://www.theleagueofmoveabletype.com/" title="The League of Moveable Type Homepage">The League of Moveable Type</a>. 
    More information about that font can be found 
    <a href="http://www.theleagueofmoveabletype.com/fonts/7-league-gothic" title="League Gothic Font Homepage">here</a>.
</p>
<p>
    TitilliumText is designed by the 
    <a href="http://www.campivisivi.net/titillium/" title="Accademia di Belle Arti Urbino Homepage">Accademia di Belle Arti Urbino</a>. 
    More information about this font can be found <a href="http://www.fontsquirrel.com/fonts/TitilliumText" title="TitilliumText Font Homepage">here</a>.
</p>
<p>
    In all cases, the fonts are released under the    
    <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" title="SIL Open Font License 1.1">SIL Open Font License 1.1</a>. 
    A copy of this license is distributed with MPfm and can be found in the application directory (SIL_Open_Font_License_1.1.TXT).
</p>
<hr />
<h3><a name="2.5">3.0 Other License Information</a></h3>
<p>
    Here is more important information about the MPfm license:
</p>
<h4><a name="2.5">3.1 MP3</a></h4>
<p>
    There currently is a gray area about MP3 licensing, depending on the country where you live in. Officially, all applications enabling MP3 
    decoding must pay a license to the MP3 copyright owner, <a href="http://www.mp3licensing.com/" title="MP3 Licensing Homepage">Technicolor</a>. 
    This license is minimum <b>$15,000 USD per year</b>. However, MPfm is freeware and open source, which means it will always stay free and no profit
    will be made from any activity related to the application. Microsoft Windows already comes with a MP3 decoder built-in, and Microsoft has 
    paid the license for all Windows copies. Thus, <b>Technicolor does not enforce the patent for Windows freeware MP3 decoders</b> such as MPfm 
    (and other freeware players such as Foobar2k).
</p>
<p>
    A declaration from Thomson (older name for Technicolor) says that they will not charge a per unit royalty on freely distributed MP3 
    decoders. This declaration can be found 
    <a href="http://www.heise.de/newsticker/meldung/Thomson-Keine-Lizenzgebuehren-fuer-freie-MP3-Decoder-58503.html" title="Freeware MP3 Decoder Declaration">here</a>.
</p>
<p>
    More information about MP3 licensing can be found at http://www.mp3licensing.com/.
</p>
</p>
<h4><a name="2.5">3.2 Background Images</a></h4>
<p>
    The background images used on mp4m.org and on the MPfm splash screen were taken from <a href="http://www.sxc.hu" title="stock.xchng Homepage">stock.xchng</a>. Please consult 
    their <a href="http://www.sxc.hu/help/7_2" title="stock.xchng License">license</a> for more information.
</p>
<h4><a name="2.5">3.3 mp4m.org / musicplayerformusicians.com</a></h4>
<p>
    The MPfm logo and the MPfm web site (www.mp4m.org) are © 2011 Yanick Castonguay.
</p>

