@{
    ViewBag.Title = "Support - MPfm: Music Player for Musicians";
    ViewBag.Description = "MPfm Support page with the documentation, link to bug tracker and contact developer";
    ViewBag.Keywords = "MPfm, Music Player, Music Player for Musicians, Contact, Bug Tracker, Mantis, Yanick Castonguay";
}

<h2>Support</h2>
<h3>User Guide</h3>
<p>
    A user guide for MPfm is currently in the works and will be released in the future.
</p>
<h3>Developer Documentation</h3>
<p>
    The developer documentation is part of the Source Code package, available on the 
    <a href="http://sourceforge.net/projects/mp4m" title="MPfm SourceForge Home Page">MPfm SourceForge Home Page</a>. 
</p>
<p>
    You can also consult the online documentation <a href="/docs" title="MPfm Online Developer Documentation" >here</a>.
</p>
<h3>Bugs and Feature Request</h3>
<p>
    To view the issues, upcoming features, change log and roadmap of MPfm, check the <a href="http://www.mp4m.org/mantis" title="MPfm Bug Tracker">Mantis bug tracker</a>.
</p>
<p>
    To report a new bug, you will have to <a href="http://mp4m.org/mantis/signup_page.php" title="MPfm Bug Tracker Signup">create a new user</a> 
    or <a href="http://mp4m.org/mantis/login_page.php" title="MPfm Bug Tracker Login">login using your existing credientials</a>. 
</p>
<p>    
    Users can submit new issues in the <b>MPfm/Support</b> project. The developer will then try to reproduce the bug and add a definitive issue into the
    into the <b>MPfm</b> project. All related issues will be linked. You can use Mantis notifications to get updates on your submitted issues or on
    issues you are interested in.
</p>
<h3>Contact Developer</h3>
<p>
    You can contact the developer, <b>Yanick Castonguay</b>, at the following email address: 
    <a href="mailto:ycastonguay@mp4m.org">ycastonguay@mp4m.org</a>.
</p>