@{
    ViewBag.Title = "Support - MPfm: Music Player for Musicians";
    ViewBag.Description = "MPfm Support page with the documentation, link to bug tracker and contact developer";
    ViewBag.Keywords = "MPfm, Music Player, Music Player for Musicians, Contact, Bug Tracker, Mantis, Yanick Castonguay";
}

<h2>Support</h2>
<h3>Documentation</h3>
<p>
    Documentation will be added to MPfm in the near future.
</p>
<h3>Bugs and Feature Request</h3>
@*<p>
    To report a new bug, you will have to <a href="http://mp4m.org/mantis/signup_page.php" title="MPfm Bug Tracker Signup">create a new user</a> 
    or <a href="http://mp4m.org/mantis/login_page.php" title="MPfm Bug Tracker Login">login using your existing credientials</a>.
</p>*@
<p>
    To view the issues, upcoming features, change log and roadmap of MPfm, click <a href="http://www.mp4m.org/mantis" title="MPfm Bug Tracker">here</a>.
</p>
<h3>Contact Developer</h3>
<p>
    You can contact the developer, Yanick Castonguay, at the following email address: 
    yanick.castonguay (AT) gmail (DOT) com.
</p>