<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="LastUsedDirectory" value="E:\Mp3\Kraftwerk\Trans-Europe Express" />
    <add key="BufferSize" value="0100" />
    <add key="UpdatePeriod" value="0010" />
    <add key="UpdateThreads" value="1" />
    <add key="DriverType" value="ASIO" />
    <add key="DeviceId" value="0" />rf
    <add key="DeviceName" value="ASIO DirectX Full Duplex Driver" />-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
