<?xml version="1.0"?>
<configuration> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.66.0" newVersion="1.0.66.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--  Important: Put the exact path in "data source" or the application will crash (SQLite bug) --> 
    <add name="MPFM_EF" connectionString="metadata=res://*/Data.MPFM_EF.csdl|res://*/Data.MPFM_EF.ssdl|res://*/Data.MPFM_EF.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Code\MPfm\Solution\Output\Debug\MPFM.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>