body
{
	font-family: 'Cabin', serif;    
	font-size: small;
	margin: 0;
	background: url('/Images/background.jpg') no-repeat center top;    
	background-color: #D6D6D6;	
}

h2
{       
	font-size: x-large;    
	font-weight: normal;
}

h3
{       
	font-size: large;
	font-weight: normal;
}

h4
{       
	font-size: medium;
	font-weight: normal;
}

img
{
	border: 0;
}

p a
{
	background-color: #DDDDDD;
	padding: 2px 4px 2px 4px;
	color: Black;
}

p a:visited
{
	padding: 2px 4px 2px 4px;
	background-color: #C9C9C9;
}

p a:active
{
	padding: 2px 4px 2px 4px;
	background-color: #C9C9C9;
}

p a:hover
{
	padding: 2px 4px 2px 4px;
	background-color: #BBBBBB;
}

.p_medium
{
    font-size: medium;
	font-weight: normal;
}

.p_normal
{
    font-size: small;
	font-weight: normal;
}

.code
{
	font-family: 'Expletus Sans', Serif;
	font-size: small;
	font-weight: normal;
}

.code_ident
{
	font-family: 'Expletus Sans', Serif;
	font-size: small;
	font-weight: normal;
	padding-left: 16px;
}

.floatLeft
{ 
	float: left;
	margin: 0px 10px 10px 0px;	
	padding: 2px;
}

.floatRight
{ 
	float: right;
	margin: 0 6px 10px 10px;	
	padding: 2px;
}

#imageMapLibrairies
{
    border: 0;
    width: 354px;
    height: 61px;
}

#container
{
	position: relative;    
	width: 1000px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	position: relative;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 131px;
	background: url('/Images/mpfm_logo.jpg') no-repeat;
}

#header_toptile
{
	position: absolute;
	left: 245px;
	top: 0px;
	width: 755px;
	height: 30px;
	
	background: url('/Images/header_tiletop.jpg') repeat;
}

#header_menu
{
	position: absolute;
	left: 245px;
	top: 30px;
	width: 755px;
	height: 40px;
	
	background: url('/Images/header_tilemenu.jpg') repeat;
}

#header_menu a
{
	display: table-cell;
	height: 40px;
		   
	font-size: small;
	background-color: transparent;
	color: White;
	padding: 0px 8px 0px 8px;
	vertical-align: middle;
	
	text-decoration: none;    
}

#header_menu a:hover
{        
	background-color: Gray; 
}

#header_bottomtile
{
	position: absolute;
	left: 245px;
	top: 70px;
	width: 755px;
	height: 61px;
		
	background: url('/Images/header_tilebottom.jpg') repeat;
}

#header_thirdparty
{
	position: absolute;
	left: 245px;
	top: 70px;
	width: 354px;
	height: 61px;
	
	background: url('/Images/header_3rdparty.jpg') no-repeat;
}

#body
{        
	padding: 4px 14px 4px 14px;
				
	height: 100%;
	background-color: White;
}

#footer
{          
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	
	padding: 8px 8px 8px 8px;
	color: #EEEEEE;
	
	font-family: 'PT Sans Narrow', serif;
	font-size: medium;
	text-align: center;
	color: White;
				   
	background-color: Black;
}

#footer_smalltext
{
	font-size: small;
	color: #CCCCCC;
}

#footer_supersmalltext
{
	font-size: x-small;
	color: #CCCCCC;
}

.text
{       
	font-size: medium;    
}

.smalltext
{       
	font-size: smaller;
}

#slider {
	width: 970px; 
	height: 450px; 
	position: relative;
	overflow: hidden; 
	padding: 0;
}

#sliderContent {
	width: 970px;
	position: absolute;
	top: 0;
	margin-left: 0;
	margin-top: 0;
	
	padding: 0;
}

.sliderImage{
	float: left;
	position: relative;
	display: none;
}
.sliderImage span {
	position: absolute;	
	font: 12px/16px 'Cabin', serif;
	padding: 10px 13px;
	width: 970px;
	background-color: #000000;
	color: #fff;
	display: none;
}

.clear {
	clear: both;
}
.sliderImage span strong {
	font-size: 14px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
	left: 0;
}
.left {
	top: 0;
	left: 0;
	width: 110px !important;
	height: 280px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 290px;
}

.download_screenshots
{
    float: left;
    padding-right: 10px;
}

.footerSeparator
{
    color: #666666;
}