<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MPFM_EF" connectionString="metadata=res://*/Data.MPFM_EF.csdl|res://*/Data.MPFM_EF.ssdl|res://*/Data.MPFM_EF.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=F:\Code2010\MPfm\Output\Debug\MPfm.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>