#Mon, 08 Apr 2013 20:27:02 -0400
app.name=sessionsapp

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=8413bb19-dbd2-4acc-b316-356f1b4edef3
