body {
    background-color: #36454f;
    /*background-color: #62737e;*/
    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    padding: 0;
    margin: 0;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 2px;
}

.sectionHeader {
    padding: 6px;
    background-color: #6a7882;
    color: white;
    font-size: 10pt;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color:#36454f;
}

tr:nth-child(even) {
    background-color:#45535c;
}

a {
    display: block;
    padding: 4px;
    background-color: #e74c3c;
    color: white;
    font-size: 9pt;
    text-decoration: none;
    text-align: center;
}

a:hover {
    background-color: #e76f63;
}

.spacer {
    width: 60px;
}

.header {
    background-color: #465966;
}

.headerTitle {
    color: white;
    font-size: 11pt;
    font-weight: bold;
}

.headerSubtitle {
    padding-top: 2px;
    font-size: 10pt;
}

.centerBlock {
    /*width: 400px;*/
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
}

.inputCode {
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    width: 80px;
}

input[type=button] {
    display: inline-block;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-appearance:none; /* removes gradient on iOS */
    border-radius: 8px;
    border: 0px;
    background-color: #e74c3c;
    padding: 8px 24px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: hand;
    cursor: pointer;
}
input[type=button]:hover {
    background-color: #e76f63;
}
input[type=button]:active {
    position: relative;
    top: 1px;
}
