body {
    background-color: #20282e;
    /*background-color: #62737e;*/
    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    padding: 0;
    margin: 0;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 2px;
}

.sectionArtistName {
    border-top: solid 1px #68757e;
    background-color: #36454f;
    color: white;
    font-size: 11pt;
}

.sectionArtistNameTitle {
    height: 22px;
    line-height: 22px;
    padding: 4px;
    cursor: hand;
    cursor: pointer;
}

.sectionArtistNameTitle:hover {
    background-color: #465966;
}

.sectionAlbumTitle {
    margin-left: 4px;
    margin-right: 4px;
    border-top: solid 1px #465966;
    background-color: #20282e;
    color: white;
    font-size: 9pt;
}

.sectionAlbumTitleTitle {
    height: 22px;
    line-height: 22px;
    padding: 4px;
    cursor: hand;
    cursor: pointer;
}

.sectionAlbumTitleTitle:hover {
    background-color: #313a41;
}

.songs {
    color: #CCCCCC;
    margin-left: 4px;
}

/*tr:nth-child(odd) {*/
    /*background-color:#36454f;*/
/*}*/

/*tr:nth-child(even) {*/
    /*background-color:#45535c;*/
/*}*/

a {
    display: block;
    padding: 4px;
    background-color: #e74c3c;
    color: white;
    font-size: 9pt;
    text-decoration: none;
    text-align: center;
}

a:hover {
    background-color: #e76f63;
}

.spacer {
    width: 60px;
}

.header {
    background-color: #465966;
    width: 100%;
    height: 54px;
    top: 0;
    position: fixed;
}

.headerTitle {
    color: white;
    font-size: 11pt;
    font-weight: bold;
}

.headerSubtitle {
    padding-top: 2px;
    font-size: 10pt;
}

.centerBlock {
    /*width: 400px;*/
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
}

.inputCode {
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    width: 80px;
}

.tabs {
    position: fixed;
    top: 54px;
    width: 100%;
    height: 31px;
    background-color: #20282e;
}

.tab {
    float: left;
    width: 150px;
    height: 22px;
    line-height: 22px;
    padding: 4px;
    background-color: #36454f;
    border-top: 1px solid #68757e;
    border-left: 1px solid #68757e;
    border-right: 1px solid #68757e;
    font-size: 10pt;
    font-weight: bold;
    cursor: hand;
    cursor: pointer;
}

.tabSelected {
    color: white;
    background-color: #465966;
}

.tabContainer {
    margin-top: 85px;
}

input[type=button] {
    display: inline-block;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-appearance:none; /* removes gradient on iOS */
    border-radius: 8px;
    border: 0px;
    background-color: #e74c3c;
    padding: 8px 24px;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    cursor: hand;
    cursor: pointer;
}
input[type=button]:hover {
    background-color: #e76f63;
}
input[type=button]:active {
    position: relative;
    top: 1px;
}

.icon {
    width: 22px;
    height: 22px;
    float: left;
    padding: 4px;
    margin-right: 6px;
}

/* Enlarge button height for mobile devices */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 768px)
{
    body {
        font-size: 14px !important;
    }
    .a, .tab, .sectionAlbumTitleTitle, .sectionArtistNameTitle {
        height: 44px;
        line-height: 44px;
    }
    .input[type=button] {
        height: 44px;
    }
    .icon {
        width: 44px;
        height: 44px;
    }
    .tabContainer {
        margin-top: 107px;
    }
}
