<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Images/icon57.png</string>
		<string>Images/icon114.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.mp4m.ios</string>
	<key>CFBundleName</key>
	<string>MP4M</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Junction.otf</string>
		<string>Fonts/OstrichBlack.ttf</string>
		<string>Fonts/OstrichLight.ttf</string>
		<string>Fonts/OstrichRegular.ttf</string>
		<string>Fonts/OstrichRounded.ttf</string>
		<string>Fonts/LeagueGothic-CondensedItalic.otf</string>
		<string>Fonts/LeagueGothic-CondensedRegular.otf</string>
		<string>Fonts/LeagueGothic-Italic.otf</string>
		<string>Fonts/LeagueGothic-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleBlack</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>CFBundleDisplayName</key>
	<string>Sessions</string>
</dict>
</plist>
