<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="LastUsedDirectory" value="E:\Mp3\Kraftwerk\Trans-Europe Express" />
    <add key="BufferSize" value="0100" />
    <add key="UpdatePeriod" value="0010" />
    <add key="UpdateThreads" value="1" />
    <add key="DriverType" value="ASIO" />
    <add key="DeviceId" value="0" />
    <add key="DeviceName" value="ASIO DirectX Full Duplex Driver" />-->
  </appSettings>
</configuration>