<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="bass.dll" target="libbass.so" os="linux" />
	<dllmap dll="bass_fx.dll" target="libbass_fx.so" os="linux" />
	<dllmap dll="bassmix.dll" target="libbassmix.so" os="linux" />
	
	<dllmap dll="bass.dll" target="libbass.dylib" os="osx" />
	<dllmap dll="bass_fx.dll" target="libbass_fx.dylib" os="osx" />
	<dllmap dll="bassmix.dll" target="libbassmix.dylib" os="osx" />
</configuration>
